<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Andrew Creekmore's CS 361 Project </title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    
</head>

<body>
  <div class="container">
    <h1>tasks</h1>

    <form class="todo-form">
      <input type="text" class="todo-input" placeholder="Add a Todo...">
      <button type="submit" class="add-button">Add</button>
    </form>

    <ul class="todo-items">
      <!-- dummy item -->
      <li class="item" data-key="1594003133171">
        <input class="checkbox" type="checkbox">
        Go to Gym
        <button class="delete-button">X</button>
      </li>
    </ul>
  </div>

    <script type="text/javascript" src="app.js"></script>
</body>


</html>