 <!-- ./views/index.hbs-->

  <div class="container">
    <h1>tasks</h1>

<!-- add new task form -->
    <form class="todo-form">
      <input type="text" class="todo-input" placeholder="add a task...">
      <input type="date" class="date-input" placeholder="MM/DD/YYYY">
      <button type="submit" class="add-button">add</button>
    </form>

<!-- display task list -->
    <ul class="todo-items">
      
    </ul>
  </div>