<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> Andrew Creekmore's CS 361 Project </title>
    <link rel="stylesheet" href="styles.css" type="text/css">
    
</head>

<body>
    <div class="container">
      <h1 class="app-title">tasks</h1>
      <ul class="task-list js-task-list"></ul>
  
      <form class="js-form">
        <input autofocus type="text" aria-label="Enter a new task" placeholder="Remember to..." class="js-task-input">
      </form>
    </div>

    <script type="text/javascript" src="index.js">


    // select form element
    const form = document.querySelector('.js-form');
    // add submit event listener
    form.addEventListener('submit', event =>{
      // no page auto-refresh on submit
      event.preventDefault();
      // select text input
      const input = document.querySelector('.js-task-input');

      // get input value
      const text = input.value.trim();
      if (text !== '') {
          addTask(text);
          input.value = '';
          input.focus();
      }
    });

    </script>
</body>



</html>